@import '../../mixins';
@import '../../index.scss';

.blog {
  font-family: $font-manrope;
  color: #fff;
  margin-top: 7rem;

  &__container {
    @include container();
    @include flex(column, center, flex-start);
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    padding-bottom: 0.5rem;

    @media screen and (max-width: 600px) {
      font-size: 42px;
      line-height: 52px;
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: none;
    }
  }
}
